body nav {
  box-shadow: 0px 1px 10px rgba(0, 159, 253, 0.4); }

body #home {
  margin-top: 5rem; }
  body #home .home-text .primary {
    font-size: 2.5rem; }
  body #home .home-text .secondary {
    font-size: 3rem; }
  body #home .home-text button {
    background-color: #009ffd;
    border-radius: 4rem;
    font-size: 0.8rem;
    font-weight: bold; }
  body #home .home-text i {
    color: #009ffd; }

body .bg {
  position: relative; }

body .front {
  position: absolute;
  top: 10%;
  left: 28%;
  max-width: 17rem;
  max-height: 30rem; }

body #presenting {
  margin-top: 14rem;
  position: relative; }
  body #presenting .half-circle {
    position: absolute;
    top: -3rem;
    left: 0;
    max-height: 50rem; }
  body #presenting .card-body {
    border-radius: 5px;
    box-shadow: 0px 3px 6px 2px rgba(0, 159, 253, 0.2); }
    body #presenting .card-body i {
      color: #009ffd;
      background-color: #d9f0fe;
      padding: 1.2rem; }
    body #presenting .card-body:hover i {
      color: white;
      background-color: #009ffd;
      transition: all 0.5s; }
  body #presenting button {
    border-radius: 10rem;
    color: #009ffd;
    border: 1px solid #009ffd; }
    body #presenting button:hover {
      color: white;
      background-color: #009ffd;
      cursor: pointer;
      transition: all 0.5s; }

body #story {
  position: relative;
  background-image: url("../Appio Site_files/backcircle.png");
  background-repeat: no-repeat;
  height: 30rem;
  background-size: contain;
  background-position: right; }
  body #story .float1 {
    top: 0;
    left: 60%;
    background-color: white; }
  body #story .float2 {
    top: 30%;
    left: 30%;
    background-color: white; }
  body #story .float3 {
    top: 50%;
    left: 80%;
    background-color: white; }
  body #story .float4 {
    top: 80%;
    left: 50%;
    background-color: white; }
  body #story .float1,
  body #story .float2,
  body #story .float3,
  body #story .float4 {
    padding-top: 1rem;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    position: absolute;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3); }
  body #story i {
    color: #009ffd; }

body #stock {
  margin-top: 7rem;
  background-image: url("../Appio Site_files/work-back.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom;
  min-height: 40rem; }
  body #stock img {
    max-height: 27rem;
    position: absolute;
    left: 20%;
    top: 30%;
    box-shadow: 0px 40px 60px -40px #456d77; }
  body #stock .title-num {
    color: #009ffd;
    margin-right: 0;
    padding-right: 0; }
  body #stock .title,
  body #stock .title-num {
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 0;
    padding-left: 0; }
  body #stock .p1,
  body #stock .p3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem; }

body #usual {
  background-color: #f6f7fb; }
  body #usual .row .col-md-3 {
    margin-top: 7rem;
    margin-bottom: 4rem; }
    body #usual .row .col-md-3 .h4 {
      font-size: 0.8rem;
      font-weight: bold;
      margin-top: 0.9rem !important; }
    body #usual .row .col-md-3 .text-muted {
      font-size: 0.8rem;
      margin-top: 1rem;
      line-height: 1.5rem; }
    body #usual .row .col-md-3 i {
      color: #009ffd; }

body #screens .primary {
  margin-top: 7rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #009ffd;
  padding-bottom: 0; }

body #screens .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out; }

body #screens .owl-nav button.owl-prev {
  left: 0; }

body #screens .owl-nav button.owl-next {
  right: 0; }

body #screens .owl-dots {
  text-align: center;
  padding-top: 15px; }

body #screens .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px; }

body #screens .owl-dots button.owl-dot.active {
  background-color: #000; }

body #screens .owl-dots button.owl-dot:focus {
  outline: none; }

body #screens .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important; }

body #screens span {
  font-size: 70px;
  position: relative;
  top: -5px; }

body #screens .owl-nav button:focus {
  outline: none; }

body #video-circle {
  background-color: rgba(238, 238, 238, 0.4);
  height: 30rem; }
  body #video-circle .vid-cir {
    border-radius: 50%;
    position: relative;
    margin-top: 5rem; }
    body #video-circle .vid-cir .overlay {
      margin-top: 0rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50rem;
      height: 50rem;
      background-color: #456d77;
      opacity: 0.7;
      z-index: 9999; }
  body #video-circle .cir {
    border-radius: 50%;
    max-width: 21rem;
    max-height: 21rem;
    position: absolute;
    top: 0;
    left: 30%;
    z-index: 5; }
    body #video-circle .cir::after {
      content: url("../Appio Site_files/blog2.jpg");
      color: red;
      width: 100%;
      height: 100%; }
  body #video-circle .quote1,
  body #video-circle .quote2 {
    max-width: 20px; }
  body #video-circle .review {
    max-width: 21rem;
    height: 21rem;
    border-radius: 50%;
    background-color: #fff;
    padding: 2.5rem 2rem 2.5rem 5rem;
    position: absolute;
    top: 6rem;
    left: 55%; }

body #verify {
  background-image: url("../Appio Site_files/half-circle.png");
  background-repeat: no-repeat;
  background-size: contain; }
  body #verify .rt {
    margin-top: 5rem; }
  body #verify img {
    max-height: 32rem;
    box-shadow: 65px 15px 59px 28px #eee; }
  body #verify i {
    color: #009ffd; }

body #plans {
  background-image: url("../Appio Site_files/backprice.png");
  background-repeat: no-repeat;
  background-size: cover; }
  body #plans .primary {
    margin-top: 7rem;
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #009ffd; }
  body #plans .card {
    border-radius: 7px;
    position: relative; }
    body #plans .card hr {
      max-width: 15%; }
    body #plans .card .border-word {
      font-size: 0.8rem;
      border-radius: 5rem;
      background-color: #009ffd;
      display: none; }
    body #plans .card button {
      background-color: #003a48;
      border-radius: 5rem;
      padding: 0.6rem 1.5rem;
      color: white; }
      body #plans .card button i {
        background-color: #285866; }
        body #plans .card button i:hover {
          color: #009ffd; }
    body #plans .card:hover {
      border: 1px solid #009ffd;
      transition: all 0.5s; }
      body #plans .card:hover .border-word {
        display: inline-block;
        position: absolute;
        top: -1rem;
        left: 32%;
        color: white;
        transition: all 0.5s; }

body #faq {
  background-color: #f4f8f9; }
  body #faq .mar-top {
    margin-top: 7rem;
    margin-bottom: 8rem; }
  body #faq a {
    color: rgba(0, 0, 0, 0.671); }
    body #faq a:hover {
      color: #009ffd; }
  body #faq .panel-body {
    font-size: 0.8rem; }

body #blog .main {
  margin-top: 5rem;
  color: #009ffd;
  font-size: 0.8rem;
  font-weight: bold; }

body #blog .card {
  margin-top: 3rem; }
  body #blog .card .card-title {
    font-size: 0.8rem;
    font-weight: bold; }
  body #blog .card .card-text {
    font-size: 0.8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee; }
  body #blog .card small {
    font-size: 0.9rem; }
  body #blog .card:hover .card-title {
    color: #009ffd;
    transition: all 0.5s; }
  body #blog .card:hover {
    box-shadow: 0px 0px 4px grey;
    transition: all 0.5s; }

body #search {
  margin-top: 7rem;
  position: relative; }
  body #search .input-group {
    max-width: 25rem;
    margin: 11rem auto 2rem auto;
    color: white;
    border-radius: 50rem; }
    body #search .input-group button {
      background-color: #fff;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee; }
      body #search .input-group button:hover {
        color: #009ffd; }
  body #search i {
    position: absolute;
    top: 1rem;
    left: 34%;
    font-size: 13rem;
    padding: 5rem;
    opacity: 0.6;
    background-color: #009ffd; }

body footer .border-down {
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem; }

body footer .bg {
  margin-top: 6rem;
  background-image: url("../Appio Site_files/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom; }

body footer .main {
  margin-top: 10rem;
  cursor: pointer;
  color: #009ffd;
  padding-bottom: 0; }

body footer i {
  font-size: 0.8rem; }

body footer i:hover {
  color: #009ffd;
  cursor: pointer; }

body footer .cp {
  font-size: 0.7rem; }

.panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.panel-default > .panel-heading a {
  display: block;
  padding: 10px 15px; }

.panel-default > .panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  float: right;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear; }

.panel-default > .panel-heading a[aria-expanded="true"] {
  background-color: #eee; }

.panel-default > .panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.panel-default > .panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

@media only screen and (max-width: 1000px) {
  body #home .front {
    max-width: 10rem; } }

@media only screen and (max-width: 1200px) {
  body #video-circle .review {
    font-size: 0.8rem;
    padding-left: 8rem; } }

@media only screen and (max-width: 1000px) {
  body #video-circle {
    height: 50rem; }
    body #video-circle .review {
      text-align: center;
      padding: 2rem;
      padding-top: 7rem;
      font-size: 0.5rem;
      left: 0%;
      top: 20rem; } }

@media only screen and (max-width: 1200px) {
  body #search i {
    top: 2rem;
    left: 32%;
    font-size: 12rem; } }

@media only screen and (max-width: 1000px) {
  body #search i {
    top: 2rem;
    left: 25%;
    font-size: 12rem; } }

@media only screen and (max-width: 770px) {
  body #search i {
    top: 2rem;
    left: 17%;
    font-size: 12rem; } }

@media only screen and (max-width: 500px) {
  body nav .navbar-brand {
    margin-right: 9rem; }
  body #home .home-text .primary {
    margin-top: 4rem;
    font-size: 1.8rem; }
  body #home .home-text .secondary {
    font-size: 1.8rem;
    margin-bottom: 2rem; }
  body #home .home-text .fa-envira {
    margin-left: -1rem; }
  body #plans {
    background-image: url(); }
  body #verify {
    background-image: url(); }
  body #story {
    background-image: url(); }
    body #story .title {
      margin-top: 8rem; }
    body #story .mar {
      height: 40rem; }
    body #story .float1 {
      top: 10%;
      left: 5%; }
    body #story .float2 {
      top: 30%;
      left: 50%; }
    body #story .float3 {
      top: 50%;
      left: 7%; }
    body #story .float4 {
      top: 74%;
      left: 50%; }
  body #stock {
    background-image: url();
    margin-top: 40rem; }
    body #stock .primary {
      margin-top: 8rem; }
  body #usual .row .col-md-3 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
    body #usual .row .col-md-3 .mb {
      margin-bottom: 3rem; }
  body #search i {
    left: 5%;
    font-size: 10rem; }
  body #video-circle .cir {
    left: 0; } }

.owl-next,
.owl-prev {
  color: rgba(0, 159, 253, 0.7) !important; }

.spinner-wave-in {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3.125px solid #aaa;
  animation: spinner 1.2s linear infinite; }

@keyframes spinner {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/* Dots */
.spinner-wave-in {
  box-shadow: inset -1.5625px -1.5625px 0 1.5625px #325352; }

.spinner-section-far:after {
  display: none; }

/* --- */
.loadercontainer {
  text-align: center;
  top: 50vh; }

span {
  margin: 10px; }

span:nth-child(4n + 1) {
  clear: both; }

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
  z-index: 999999; }

.loader-1 .loader-outter {
  position: absolute;
  border: 4px solid #5a5368;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite; }

.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #4a4352;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite; }

@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

body::-webkit-scrollbar {
  width: 0.8em; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px #0e76ef; }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 50px;
  outline: 1px solid #003a48; }

#loading {
  background-image: linear-gradient(to right, #d9f0fe, #009ffd, #0e76ef);
  display: block;
  font-size: 48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 200vh;
  color: #0ccac4;
  overflow-x: hidden; }

.hidden {
  display: none; }

#button {
  display: inline-block;
  background-color: #009ffd;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }

#button::after {
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff; }

#button:hover {
  cursor: pointer;
  background-color: #333; }

#button:active {
  background-color: #555; }

#button.show {
  opacity: 1;
  visibility: visible; }

/* Styles for the content section */
.content {
  width: 77%;
  margin: 50px auto;
  font-family: "Font Awesome 5 Free", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9; }

@media (min-width: 500px) {
  .content {
    width: 43%; }
  #button {
    margin: 30px; } }

.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5; }

.content h3 {
  font-style: italic;
  color: #96a2a7; }
